.App {
    text-align: left;
    background-color: #282c34;
    color: white;
    min-height: 90vh;
    margin: 0.5rem;
    border: blanchedalmond;
    padding: 1.0rem;
    cursor: default;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    display: flex;
    cursor: context-menu;
}

.App-header-name {
    line-height: 24px;
    vertical-align: middle;
}

.App-link {
    color: #61dafb;
}

h1 {
    color: #d0d0d0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
